<div ID="Maintext">
<h1>Saving Made Simple.</h1>
<h2 class="subtitle"=>Opening an IRA is easier than you may think. Get started now and we’ll guide the way.</h2>
<a href="#" class="btn btn-primary mybutton">Get Started</a>
</div>
<div class="firstbox">
    <div class="secondbox">
        <div class="thirdbox"></div>
    </div>
    <div class="fourthbox">
        <div class="fifthbox">
            <div class="sixthbox"></div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-primary mybutton topbutton">Back to top</a>